*{
    margin:0;
    padding:0;
}

html, body {
	font: 11px/15px "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif;
	color: #888888;
	/*overflow: hidden;*/
}

img {border: 0px;}

a {outline: 0;}

a:link {color: #888888; text-decoration:none;}
a:visited {color:#888888; text-decoration:none;}
a:hover {color:#f60093; text-decoration:underline;}
a:active {color:#f60093;text-decoration:none;}


a.shadowBoxLink:link, a.shadowboxLink:link {color: #bbbbbb; text-decoration:none;}
a.shadowBoxLink:visited, a.shadowboxLink:visited {color: #bbbbbb; text-decoration:none;}
a.shadowBoxLink:hover, a.shadowboxLink:hover {color:#f60093; text-decoration:underline;}
a.shadowBoxLink:active, a.shadowboxLink:active {color:#f60093;text-decoration:none;}



.alert {
    background-color: #00ccff;
	border-width: 0 0 3px 0;
	border-color: #454545;
	border-style: solid;
    display: block;
    font: bold 14px/40px sans-serif, Arial, Helvetica, sans-serif;
    height: 40px;
    position: absolute;
    text-align: center;
    top: 0px;
    width: 100%;
	z-index: 100;
	color: #ffffff;
}

#alert {
    position: relative;
    display: none; /* make alert div invisible */
}

/* note: alert is set to display:block in index.php head */

a#close_alert:link {color: #ffffff; text-decoration:none;}
a#close_alert:visited {color: #ffffff; text-decoration:none;}
a#close_alert:hover {color:#ffffff; text-decoration:underline;}
a#close_alert:active {color:#ffffff;text-decoration:none;}


#center_content_main {
	position: absolute;
	width: 1044px;
	height: 750px;
	top: 50%;
	left: 50%;
	margin: -381px 0px 0px -500px;
	background: url(../_images/background_1000x753.jpg) no-repeat 0 0;
	/*overflow: hidden;*/
}

#mask {
	background-color: #FFF;
	width: 1000px;
	height: 750px;
	position:absolute;
	z-index: 2;
}

#viewing_pane {
	position: absolute;
	width: 1044px;
	height:585px;
	top: 121px;
	overflow: hidden;
	z-index: 3;
}

#scrolling_content {
    position:absolute;
    left:0px;
    width: 6400px;
}

.section {
    position: relative;
    margin:0px;
    width:1044px;
    float:left;
}

div#web.section, div#print.section, div#mobile.section, div#motion.section {
    margin-left:16px !important;
}

#nav_bar {
	position: absolute;
	top:27px;
	left:608px;
	z-index:30;
}

#footer {
	position: absolute;
	top: 727px;
	width: 1000px;
	height:20px;
	z-index:3;
	overflow: auto;
    overflow-x: hidden;
    overflow-y: hidden;
}

p#footer_text {
	text-align: center;
	padding: 1px 0px 0px 0px;
}

#about_box {
	background: url(../_images/about.jpg) no-repeat 0 0 transparent;
	width: 648px;
	height: 586px;
	position: relative;
	float:left;
	/*top: 121px;*/
}

#rotating_image {
	list-style-type: none;
	position: relative;
	top: 11px; left: 23px;
	height: 350px;
}

#links_box {
	background: url(../_images/links.jpg) no-repeat 0 0 transparent;
	width: 352px;
	height: 293px;
	position: relative;
	float:right;
	right: 44px;
}

#contact_box {
	background: url(../_images/contact.jpg) no-repeat 0 0 transparent;
	width: 352px;
	height: 293px;
	position: relative;
	float:right;
	right: 44px;
}

p.link {
	margin: 0px 0px 2px 0px;
}

.float_left { float: left;}
.float_right { float: right;}

div.rotate_device_instructions {
	display:none;
}

img.rotate_device {
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: -110px;

	}

div.scroll_arrows {
	display: block;
	position: absolute;
	width: 42px;
	height: 84px;
	top: 486px;
	left: 972px;
	z-index: 10;
}

a.scroll_arrow_up {
	display:block;
	width: 42px;
	height: 42px;
	background: url(../_images/scroll_arrows.png);
	background-position: 0px 0px;
}

a.scroll_arrow_up span.hover {
	display: block;
	position: absolute;
	width: 42px;
	height: 42px;
	background: url(../_images/scroll_arrows.png);
	background-position: 42px 0px;
}

a.scroll_arrow_down {
	display:block;
	width: 42px;
	height: 42px;
	background: url(../_images/scroll_arrows.png);
	background-position: 0px 44px;
}

a.scroll_arrow_down span.hover {
	display: block;
	position: absolute;
	width: 42px;
	height: 42px;
	background: url(../_images/scroll_arrows.png);
	background-position: 42px 44px;
}


div#about_box p {
		padding: 8px 36px 0px 46px;
}

#about_ipad_me_img {
	 display:none;
}

#clear_contact_form {
	display:none;
}


/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {

	div.scroll_arrows {
	  left: 912px;
	}

}

/* iPads (landscape) ----------- */
@media only screen
  and (min-device-width : 768px)
  and (max-device-width : 1024px)
  and (orientation : landscape) {

	#center_content_main {
		width: 1000px;
	}

	div#viewing_pane {
		width: 1000px;
	}

	.section {
		width: 1044px;
	}

	div#web.section, div#print.section, div#mobile.section, div#motion.section {
	  /*
	  height: 390px;
	  overflow: auto;
	  */
	}

	a.box:nth-child(n+16) {
		display:none;
	}

	div.scroll_arrows {
	  /*
	  left: 912px;
	  top: 380px;
	  */
	  display:none;
	}

	#rotating_image {
		display:none;
	}
	#about_box {
		background: url(../_images/about_ipad_horiz.jpg) no-repeat 0 0 transparent;
		height: 293px;
	}
	div#about_box p {
		padding: 8px 240px 0px 46px;
	}
	#about_ipad_me_img {
		display:block;
		 position:absolute;
		 top:10px;
		 right: 17px;
		 z-index: 3;
	}


	#clear_contact_form {
		display:block;
	}
	#contact_box {
		display:block;
		background: url(../_images/contact_ipad.jpg) no-repeat 0 0 transparent;
		width: 1000px;
		height: 185px;
		position: relative;
		margin-top: 2px;
		float:none;
		right: 0px;
	}

	/* contact form elements START */
	div#contact_form {
		padding:12px 20px;
		width: 1000px;
	}

	div#contact_name {
		margin-left: 60px;
		display:block;
		float:left;
	}
	div#contact_email {
		display:block;
		margin-left: 20px;
		float:left;
	}
	div#contact_message {
		display:block;
		margin-left: 20px;
		float:left;
	}
	div#contact_submit_btn {
		display:block;
		margin-left: -70px;
		margin-top: 44px;
		float:left;
	}


	div#message {
		margin: 6px 0 0 430px;
	}

	/* contact form elements END */

	div#viewing_pane {
		height: 772px;
		margin:0 0 0 0;
	}
	div#center_content_main {
		height: 772px;
		margin-top: -320px;
		background: url(../_images/background_1000x753_sm.jpg) no-repeat 0 0;
	}
	div#footer {
		top: 620px;
	}
	div#scrolling_content {
		height: 524px;
	}

	div.rotate_device_instructions {
		display:block;
		position: relative;
		width: 1000px;
		height: 83px;
		top: 2px;
	}
}
